@model IEnumerable<Hattrick.Service.Models.Entities.SportGame>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SportCategory.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Team1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Team2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Value1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Value2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Value1X)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Value2X)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Value12)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValueX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TopOffer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TopOfferFactor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SportCategory.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Team1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Team2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Value1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Value2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Value1X)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Value2X)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Value12)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValueX)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TopOffer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TopOfferFactor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GameTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
