@model IEnumerable<Hattrick.Service.Models.Entities.SportGame>

@{
    ViewBag.Title = "Home Page";
    var a = ViewBag.Categorys;
}
<div id="exTab1" class="container">
    <h3> Welcome @ViewBag.Profile.Name</h3>
    <h3> Your Accout Ballance is @ViewBag.Profile.AccountBalance KN</h3>
    <ul class="nav nav-pills" style="margin-top:0%">
        @foreach (var category in ViewBag.Categorys)
        {
            if (ViewBag.Categorys[0] == category)
            {
                <li class="active">
                    <a href="#@category.CategoryName" data-toggle="tab"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>@category.CategoryName </a>
                </li>
            }
            else
            {
                <li>
                    <a href="#@category.CategoryName" data-toggle="tab"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>@category.CategoryName</a>
                </li>
            }


        }
        <li>
            <a href="#SpecialOffer" data-toggle="tab"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>Top Offer</a>
        </li>

    </ul>

    <div class="tab-content clearfix">
        @foreach (var category in ViewBag.Categorys)
        {
            if (ViewBag.Categorys[0] == category)
            {
                <div class="tab-pane active" id="@category.CategoryName">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Team 1</th>
                                <th>Team 2</th>
                                <th>Coeficient 1</th>
                                <th>Coeficient X</th>
                                <th>Coeficient 2</th>
                                <th>Coeficient 12</th>
                                <th>Coeficient 1X</th>
                                <th>Coeficient X2</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var game in Model.Where(x => x.SportCategory.CategoryName == category.CategoryName))
                            {
                                <tr>
                                    <td> @game.Team1</td>
                                    <td> @game.Team2</td>
                                    <td>
                                        <button class="btn-success" id="1_@game.Id-0" value="1;@game.Id;@game.Value1;@game.Team1;@game.Team2;@game.TopOfferFactor" @{ if (game.SportCategory.Active1 != true || game.Value1 <= 1) { @: disabled="disabled"
                                                } }>
                                            @game.Value1
                                        </button>
                                    </td>

                                    <td>
                                        <button class="btn-success" id="X_@game.Id-0" value="X;@game.Id;@game.ValueX;@game.Team1;@game.Team2;@game.TopOfferFactor" @{ if (game.SportCategory.ActiveX != true || game.ValueX <= 1) { @: disabled="disabled"
                                                } }>
                                            @game.ValueX
                                        </button>
                                    </td>
                                    <td>
                                        <button class="btn-success" id="2_@game.Id-0" value="2;@game.Id;@game.Value2;@game.Team1;@game.Team2;@game.TopOfferFactor" @{ if (game.SportCategory.Active2 != true || game.Value2 <= 1) { @: disabled="disabled"
                                                } }>
                                            @game.Value2
                                        </button>
                                    </td>
                                    <td>
                                        <button class="btn-success" id="12_@game.Id-0" value="12;@game.Id;@game.Value12;@game.Team1;@game.Team2;@game.TopOfferFactor" @{ if (game.SportCategory.Active12 != true || game.Value12 <= 1) { @: disabled="disabled"
                                                } }>
                                            @game.Value12
                                        </button>
                                    </td>
                                    <td>
                                        <button class="btn-success" id="1X_@game.Id-0" value="1X;@game.Id;@game.Value1X;@game.Team1;@game.Team2;@game.TopOfferFactor" @{ if (game.SportCategory.Active1x != true || game.Value1X <= 1) { @: disabled="disabled"
                                                } }>
                                            @game.Value1X
                                        </button>
                                    </td>
                                    <td>
                                        <button class="btn-success" id="X2_@game.Id-0" value="X2;@game.Id;@game.Value2X;@game.Team1;@game.Team2;@game.TopOfferFactor" @{ if (game.SportCategory.Active2x != true || game.Value2X <= 1) { @: disabled="disabled"
                                                } }>
                                            @game.Value2X
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <div class="tab-pane" id="@category.CategoryName">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Team 1</th>
                                <th>Team 2</th>
                                <th>Coeficient 1</th>
                                <th>Coeficient X</th>
                                <th>Coeficient 2</th>
                                <th>Coeficient 12</th>
                                <th>Coeficient 1X</th>
                                <th>Coeficient X2</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var game in Model.Where(x => x.SportCategory.CategoryName == category.CategoryName))
                            {
                                <tr>
                                    <td> @game.Team1</td>
                                    <td> @game.Team2</td>
                                    <td>
                                        <button class="btn-success" id="1_@game.Id-0" value="1;@game.Id;@game.Value1;@game.Team1;@game.Team2;@game.TopOfferFactor" @{ if (game.SportCategory.Active1 != true || game.Value1 <= 1) { @: disabled="disabled"
                                                } }>
                                            @game.Value1
                                        </button>
                                    </td>

                                    <td>
                                        <button class="btn-success" id="X_@game.Id-0" value="X;@game.Id;@game.ValueX;@game.Team1;@game.Team2;@game.TopOfferFactor" @{ if (game.SportCategory.ActiveX != true || game.ValueX <= 1) { @: disabled="disabled"
                                                } }>
                                            @game.ValueX
                                        </button>
                                    </td>
                                    <td>
                                        <button class="btn-success" id="2_@game.Id-0" value="2;@game.Id;@game.Value2;@game.Team1;@game.Team2" @{ if (game.SportCategory.Active2 != true || game.Value2 <= 1) { @: disabled="disabled"
                                                } }>
                                            @game.Value2
                                        </button>
                                    </td>
                                    <td>
                                        <button class="btn-success" id="12_@game.Id-0" value="12;@game.Id;@game.Value12;@game.Team1;@game.Team2;@game.TopOfferFactor" @{ if (game.SportCategory.Active12 != true || game.Value12 <= 1) { @: disabled="disabled"
                                                } }>
                                            @game.Value12
                                        </button>
                                    </td>
                                    <td>
                                        <button class="btn-success" id="1X_@game.Id-0" value="1X;@game.Id;@game.Value1X;@game.Team1;@game.Team2;@game.TopOfferFactor" @{ if (game.SportCategory.Active1x != true || game.Value1X <= 1) { @: disabled="disabled"
                                                } }>
                                            @game.Value1X
                                        </button>
                                    </td>
                                    <td>
                                        <button class="btn-success" id="X2_@game.Id-0" value="X2;@game.Id;@game.Value2X;@game.Team1;@game.Team2;@game.TopOfferFactor" @{ if (game.SportCategory.Active2x != true || game.Value2X <= 1) { @: disabled="disabled"
                                                } }>
                                            @game.Value2X
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            }

        }
        <div class="tab-pane" id="SpecialOffer">
            <table class="table">
                <thead>
                    <tr>
                        <th>Team 1</th>
                        <th>Team 2</th>
                        <th>Coeficient 1</th>
                        <th>Coeficient X</th>
                        <th>Coeficient 2</th>
                        <th>Coeficient 12</th>
                        <th>Coeficient 1X</th>
                        <th>Coeficient X2</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var game in Model.Where(x => x.TopOffer))
                    {
                        <tr>
                            <td> @game.Team1</td>
                            <td> @game.Team2</td>
                            <td>
                                <button class="btn-success" id="1_@game.Id-1" value="1;@game.Id;@game.Value1;@game.Team1;@game.Team2;@game.TopOfferFactor" @{ if (game.SportCategory.Active1 != true || game.Value1 <= 1) { @: disabled="disabled"
                                        } }>
                                    @(game.Value1 * game.TopOfferFactor)
                                </button>
                            </td>
                            <td>
                                <button class="btn-success" id="X_@game.Id-1" value="X;@game.Id;@game.ValueX;@game.Team1;@game.Team2;@game.TopOfferFactor" @{ if (game.SportCategory.ActiveX != true || game.ValueX <= 1) { @: disabled="disabled"
                                        } }>
                                    @(game.ValueX * game.TopOfferFactor)
                                </button>
                            </td>
                            <td>
                                <button class="btn-success" id="2_@game.Id-1" value="2;@game.Id;@game.Value2;@game.Team1;@game.Team2;@game.TopOfferFactor" @{ if (game.SportCategory.Active2 != true || game.Value2 <= 1) { @: disabled="disabled"
                                        } }>
                                    @(game.Value2 * game.TopOfferFactor)
                                </button>
                            </td>

                            <td>
                                <button class="btn-success" id="12_@game.Id-1" value="12;@game.Id;@game.Value12;@game.Team1;@game.Team2;@game.TopOfferFactor" @{ if (game.SportCategory.Active12 != true || game.Value12 <= 1) { @: disabled="disabled"
                                        } }>
                                    @(game.Value12 * game.TopOfferFactor)
                                </button>
                            </td>
                            <td>
                                <button class="btn-success" id="1X_@game.Id-1" value="1X;@game.Id;@game.Value1X;@game.Team1;@game.Team2;@game.TopOfferFactor" @{ if (game.SportCategory.Active1x != true || game.Value1X <= 1) { @: disabled="disabled"
                                        } }>
                                    @(game.Value1X * game.TopOfferFactor)
                                </button>
                            </td>
                            <td>
                                <button class="btn-success" id="X2_@game.Id-1" value="X2;@game.Id;@game.Value2X;@game.Team1;@game.Team2;@game.TopOfferFactor" @{ if (game.SportCategory.Active2x != true || game.Value2X <= 1) { @: disabled="disabled"
                                        } }>
                                    @(game.Value2X * game.TopOfferFactor)
                                </button>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>

<h2>Ticket</h2>
<table class="table">
    <thead>
        <tr>
            <th>Team 1</th>
            <th>Team 2</th>
            <th>Selected Bet</th>
            <th>Selected Bet Koeficient</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody id="tabbleID"></tbody>
    <tfoot>
        <tr>
            <td>Enter your bet money <input type="number" id="betValue" /> </td>
            <td>Total Koeficient <input type="number" disabled id="koeficinet" />  </td>
            <td>Expected Payout: <input disabled type="number" id="expectedPayout" /></td>
            <td><button id="submitButton">Create New Ticket</button></td>
            <td></td>
        </tr>
    </tfoot>
</table>
<link href="~/Content/HomeIndex.css" rel="stylesheet" />
<script src="~/Scripts/HomeIndex.js"></script>
