@model IEnumerable<Hattrick.Service.Models.Entities.SportGame>

@{
    ViewBag.Title = "Home Page";
    var a = ViewBag.Categorys;
}
<div id="exTab1" class="container">
    <h3> Welcome @ViewBag.Profile.Name</h3>
    <h3> Your Accout Ballance is @ViewBag.Profile.AccountBallance KN</h3>
    <ul class="nav nav-pills" style="margin-top:0%">
        @foreach (var category in ViewBag.Categorys)
        {
            if (ViewBag.Categorys[0] == category)
            {
                <li class="active">
                    <a href="#@category.CategoryName" data-toggle="tab"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>@category.CategoryName </a>
                </li>
            }
            else
            {
                <li>
                    <a href="#@category.CategoryName" data-toggle="tab"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>@category.CategoryName</a>
                </li>
            }


        }
        <li>
            <a href="#SpecialOffer" data-toggle="tab"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>Top Offer</a>
        </li>

    </ul>

    <div class="tab-content clearfix">
        @foreach (var category in ViewBag.Categorys)
        {
            if (ViewBag.Categorys[0] == category)
            {
                <div class="tab-pane active" id="@category.CategoryName">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Team 1</th>
                                <th>Team 2</th>
                                <th>Coeficient 1</th>
                                <th>Coeficient X</th>
                                <th>Coeficient 2</th>
                                <th>Coeficient 12</th>
                                <th>Coeficient 1X</th>
                                <th>Coeficient X2</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var game in Model.Where(x => x.SportCategory.CategoryName == category.CategoryName))
                            {
                                <tr>
                                    <td> @game.Team1</td>
                                    <td> @game.Team2</td>
                                    <td>
                                        <button class="btn-success" id="1_@game.Id-0" value="1;@game.Id;@game.Value1;@game.Team1;@game.Team2;@game.TopOfferFactor" @{ if (game.SportCategory.Active1 != true || game.Value1 <= 1) { @: disabled="disabled"
                                                } }>
                                            @game.Value1
                                        </button>
                                    </td>

                                    <td>
                                        <button class="btn-success" id="X_@game.Id-0" value="X;@game.Id;@game.ValueX;@game.Team1;@game.Team2;@game.TopOfferFactor" @{ if (game.SportCategory.ActiveX != true || game.ValueX <= 1) { @: disabled="disabled"
                                                } }>
                                            @game.ValueX
                                        </button>
                                    </td>
                                    <td>
                                        <button class="btn-success" id="2_@game.Id-0" value="2;@game.Id;@game.Value2;@game.Team1;@game.Team2;@game.TopOfferFactor" @{ if (game.SportCategory.Active2 != true || game.Value2 <= 1) { @: disabled="disabled"
                                                } }>
                                            @game.Value2
                                        </button>
                                    </td>
                                    <td>
                                        <button class="btn-success" id="12_@game.Id-0" value="12;@game.Id;@game.Value12;@game.Team1;@game.Team2;@game.TopOfferFactor" @{ if (game.SportCategory.Active12 != true || game.Value12 <= 1) { @: disabled="disabled"
                                                } }>
                                            @game.Value12
                                        </button>
                                    </td>
                                    <td>
                                        <button class="btn-success" id="1X_@game.Id-0" value="1X;@game.Id;@game.Value1X;@game.Team1;@game.Team2;@game.TopOfferFactor" @{ if (game.SportCategory.Active1x != true || game.Value1X <= 1) { @: disabled="disabled"
                                                } }>
                                            @game.Value1X
                                        </button>
                                    </td>
                                    <td>
                                        <button class="btn-success" id="X2_@game.Id-0" value="X2;@game.Id;@game.Value2X;@game.Team1;@game.Team2;@game.TopOfferFactor" @{ if (game.SportCategory.Active2x != true || game.Value2X <= 1) { @: disabled="disabled"
                                                } }>
                                            @game.Value2X
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <div class="tab-pane" id="@category.CategoryName">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Team 1</th>
                                <th>Team 2</th>
                                <th>Coeficient 1</th>
                                <th>Coeficient X</th>
                                <th>Coeficient 2</th>
                                <th>Coeficient 12</th>
                                <th>Coeficient 1X</th>
                                <th>Coeficient X2</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var game in Model.Where(x => x.SportCategory.CategoryName == category.CategoryName))
                            {
                                <tr>
                                    <td> @game.Team1</td>
                                    <td> @game.Team2</td>
                                    <td>
                                        <button class="btn-success" id="1_@game.Id-0" value="1;@game.Id;@game.Value1;@game.Team1;@game.Team2;@game.TopOfferFactor" @{ if (game.SportCategory.Active1 != true || game.Value1 <= 1) { @: disabled="disabled"
                                                } }>
                                            @game.Value1
                                        </button>
                                    </td>

                                    <td>
                                        <button class="btn-success" id="X_@game.Id-0" value="X;@game.Id;@game.ValueX;@game.Team1;@game.Team2;@game.TopOfferFactor" @{ if (game.SportCategory.ActiveX != true || game.ValueX <= 1) { @: disabled="disabled"
                                                } }>
                                            @game.ValueX
                                        </button>
                                    </td>
                                    <td>
                                        <button class="btn-success" id="2_@game.Id-0" value="2;@game.Id;@game.Value2;@game.Team1;@game.Team2" @{ if (game.SportCategory.Active2 != true || game.Value2 <= 1) { @: disabled="disabled"
                                                } }>
                                            @game.Value2
                                        </button>
                                    </td>
                                    <td>
                                        <button class="btn-success" id="12_@game.Id-0" value="12;@game.Id;@game.Value12;@game.Team1;@game.Team2;@game.TopOfferFactor" @{ if (game.SportCategory.Active12 != true || game.Value12 <= 1) { @: disabled="disabled"
                                                } }>
                                            @game.Value12
                                        </button>
                                    </td>
                                    <td>
                                        <button class="btn-success" id="1X_@game.Id-0" value="1X;@game.Id;@game.Value1X;@game.Team1;@game.Team2;@game.TopOfferFactor" @{ if (game.SportCategory.Active1x != true || game.Value1X <= 1) { @: disabled="disabled"
                                                } }>
                                            @game.Value1X
                                        </button>
                                    </td>
                                    <td>
                                        <button class="btn-success" id="X2_@game.Id-0" value="X2;@game.Id;@game.Value2X;@game.Team1;@game.Team2;@game.TopOfferFactor" @{ if (game.SportCategory.Active2x != true || game.Value2X <= 1) { @: disabled="disabled"
                                                } }>
                                            @game.Value2X
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            }

        }
        <div class="tab-pane" id="SpecialOffer">
            <table class="table">
                <thead>
                    <tr>
                        <th>Team 1</th>
                        <th>Team 2</th>
                        <th>Coeficient 1</th>
                        <th>Coeficient X</th>
                        <th>Coeficient 2</th>
                        <th>Coeficient 12</th>
                        <th>Coeficient 1X</th>
                        <th>Coeficient X2</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var game in Model.Where(x => x.TopOffer == true))
                    {
                        <tr>
                            <td> @game.Team1</td>
                            <td> @game.Team2</td>
                            <td>
                                <button class="btn-success" id="1_@game.Id-1" value="1;@game.Id;@game.Value1;@game.Team1;@game.Team2;@game.TopOfferFactor" @{ if (game.SportCategory.Active1 != true || game.Value1 <= 1) { @: disabled="disabled"
                                        } }>
                                    @(game.Value1 * game.TopOfferFactor)
                                </button>
                            </td>
                            <td>
                                <button class="btn-success" id="X_@game.Id-1" value="X;@game.Id;@game.ValueX;@game.Team1;@game.Team2;@game.TopOfferFactor" @{ if (game.SportCategory.ActiveX != true || game.ValueX <= 1) { @: disabled="disabled"
                                        } }>
                                    @(game.ValueX * game.TopOfferFactor)
                                </button>
                            </td>
                            <td>
                                <button class="btn-success" id="2_@game.Id-1" value="2;@game.Id;@game.Value2;@game.Team1;@game.Team2;@game.TopOfferFactor" @{ if (game.SportCategory.Active2 != true || game.Value2 <= 1) { @: disabled="disabled"
                                        } }>
                                    @(game.Value2 * game.TopOfferFactor)
                                </button>
                            </td>

                            <td>
                                <button class="btn-success" id="12_@game.Id-1" value="12;@game.Id;@game.Value12;@game.Team1;@game.Team2;@game.TopOfferFactor" @{ if (game.SportCategory.Active12 != true || game.Value12 <= 1) { @: disabled="disabled"
                                        } }>
                                    @(game.Value12 * game.TopOfferFactor)
                                </button>
                            </td>
                            <td>
                                <button class="btn-success" id="1X_@game.Id-1" value="1X;@game.Id;@game.Value1X;@game.Team1;@game.Team2;@game.TopOfferFactor" @{ if (game.SportCategory.Active1x != true || game.Value1X <= 1) { @: disabled="disabled"
                                        } }>
                                    @(game.Value1X * game.TopOfferFactor)
                                </button>
                            </td>
                            <td>
                                <button class="btn-success" id="X2_@game.Id-1" value="X2;@game.Id;@game.Value2X;@game.Team1;@game.Team2;@game.TopOfferFactor" @{ if (game.SportCategory.Active2x != true || game.Value2X <= 1) { @: disabled="disabled"
                                        } }>
                                    @(game.Value2X * game.TopOfferFactor)
                                </button>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>

<h2>Ticket</h2>
<table class="table">
    <thead>
        <tr>
            <th>Team 1</th>
            <th>Team 2</th>
            <th>Selected Bet</th>
            <th>Selected Bet Koeficient</th>
        </tr>
    </thead>
    <tbody id="tabbleID"></tbody>
    <tfoot>
        <tr>
            <td>Enter your bet money <input type="number" id="betValue" /> </td>
            <td>Total Koeficient <input type="number" disabled id="koeficinet" />  </td>
            <td>Expected Payout: <input disabled type="number" id="expectedPayout" /></td>
            <td><button id="submitButton">Create New Ticket</button></td>
        </tr>
    </tfoot>
</table>
<style>
    ody {
        padding: 10px;
    }

    #exTab1 .tab-content {
        color: white;
        background-color: #428bca;
        padding: 5px 15px;
    }

    #exTab2 h3 {
        color: white;
        background-color: #428bca;
        padding: 5px 15px;
    }

    /* remove border radius for the tab */

    #exTab1 .nav-pills > li > a {
        border-radius: 0;
    }

    /* change border radius for the tab , apply corners on top*/

    #exTab3 .nav-pills > li > a {
        border-radius: 4px 4px 0 0;
    }

    #exTab3 .tab-content {
        color: white;
        background-color: #428bca;
        padding: 5px 15px;
    }
</style>

<script>
    var listOfObjects = [];
    $('.btn-success').on('click', function () {
        $("#" + this.id).toggleClass('btn-success btn-dannger');
        var arr = $(this).val().split(';');
        var game = {
            SelectedBet: arr[0],
            GameID: arr[1],
            BetKoeficent: arr[2],
            Team1: arr[3],
            Team2: arr[4],
            SpecialOffer: this.id.split('-')[1],
            FaktorPosebnePonude: arr[5]
        }
        var removeElement = false;
        var newList = [];
        var previouslySelectedBet = 0;
        var preivouslySelectedGameID = 0;
        var razlikaUPosebnojPonudi = false;
        var temp = game;
        var brojac = 0;
        if (game.SpecialOffer == 1)
            game.BetKoeficent = game.BetKoeficent * game.FaktorPosebnePonude;
        if (game.SpecialOffer == 1) {
            listOfObjects.forEach(function (element) {
                if (element.BetKoeficent >= 1.1) {
                    brojac++
                }
            })
        }
        if (brojac < 5 && game.SpecialOffer==1) {
            alert("For Special Offers you need To have atlest 5 pairs with coeficient 1.1 or moe")
            removeElement = true;
            $("#" + this.id).toggleClass('btn-success btn-dannger');
        }

        listOfObjects.forEach(function (element) {
            if (element.SelectedBet == game.SelectedBet && element.GameID == game.GameID && element.BetKoeficent == game.BetKoeficent && element.Team1 == game.Team1 && element.Team2 == game.Team2 && element.SpecialOffer == game.SpecialOffer) {
                removeElement = true;
            }
            else if (element.GameID == game.GameID) {
                previouslySelectedBet = element.SelectedBet;
                previouslySelectedBetID = element.GameID;
                previouslySelectedBetTopOffer = element.SpecialOffer;
                console.log("#" + previouslySelectedBet + "_" + previouslySelectedBetID);
                    $("#" + previouslySelectedBet + "_" + previouslySelectedBetID + "-" + previouslySelectedBetTopOffer).toggleClass('btn-success btn-dannger');
            }
            else {
                newList.push(element);
            }
        });
        listOfObjects = newList;
        if (removeElement == false) {
            listOfObjects.push(game);
        }

        $('#tabbleID').empty();
        listOfObjects.forEach(function (element) {
            $('#tabbleID').append("<tr><td>" + element.Team1 + "</td><td>" + element.Team2 + "</td><td>" + element.SelectedBet + "</td><td>" + element.BetKoeficent + "</td></tr>");
        });
        var suma = 1;
        listOfObjects.forEach(function (element) {
            suma *= element.BetKoeficent;
        })
        $("#koeficinet").val(suma.toString());
        $("#expectedPayout").val(($("#betValue").val() * 0.95) * $("#koeficinet").val());
    })
    $("#betValue").on('change', function () {
        $("#expectedPayout").val(($("#betValue").val()*0.95) * $("#koeficinet").val());
    })

    $("#submitButton").on('click', function () {
        /**/
        if ($("#betValue").val() > 0) {

            var data = {
                betValue: $("#betValue").val(),
                koeficientValue: $("#koeficinet").val(),
                expectedPayout: $("#expectedPayout").val(),
                listOfSelectedPairs: listOfObjects
            }
            location.href = '@Url.Action("Create", "Tickets")?data=' + JSON.stringify(data)
        }
        else {
            alert("Payment is to low");
        }

})
</script>