@model Hettrick.Servic.Models.Entities.SportGame

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SportGame</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SportCategory.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SportCategory.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Team1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Team2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value1X)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value1X)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value2X)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value2X)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value12)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value12)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValueX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValueX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TopOffer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TopOffer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TopOfferFactor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TopOfferFactor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GameTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameTime)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
